# Add any directories, files, or patterns you don't want to be tracked by version control

# Pastas com os arquivos de suporte
bin/**
include/cdata.h
include/cthread.h
include/support.h
exec
# Pasta com o .a
lib/**

# Arquivos extras
*.pdf
